@font-face{
font-family: Gabarito;
    src: url(./fonts/Gabarito-VariableFont_wght.ttf)
}

body{
    background-color:#e0f0e8;
    text-emphasis-color: #e0f0e8;
    text-align: center;
    font-family: Gabarito;
}

h1{
    color:#239d8d;
    text-align: center;
}

h3{
    color:#239d8d;
    text-align: center;
}

#title{
  top: 7px;
  left: 111px;
  width: 200px;
  height: auto;
  padding-top: 20px;;
}

 /* unvisited link */
a:link {
  text-decoration: none;
  color:#239d8d;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #239d8d;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #e59492;
}

/* selected link */
a:active {
  text-decoration: none;
  color:#239d8d;
} 

h2{
    text-align: center;
}

.fish{
    display:block;
    margin:auto;
    height: 773px;
    width: 950px;
}

.title{
    display:block;
    margin:auto;
    height: 200px;
    width: 750px;
}