@charset "UTF-8";

body{
    background-color: #54c9ff;
    font-family: sans-serif;
    text-align: center;
    color: #54c9ff;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    padding:.1rem;
}

p{
    padding:.1rem;
    padding-bottom: 2rem;
    font-size: 18px;
}

.word-box{
    padding-top: 25rem;
    background-color: #183251
}   
