body{
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 /* unvisited link */
a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  color: #d10d0c;
}

/* selected link */
a:active {
  text-decoration: underline;
  color: rgb(255, 255, 255);
} 

h2{
    text-align: center;
}

div {
  border-style: double;
  border-width: thick;
  color: white;
  margin: auto;
  width: 90px;   
  padding:10px;
}

img{
    display: block;
    margin: auto;
    height: 600px;
    width: 800px;
}

pre{
    text-align:center;
}

.textbox{
  height: 200px;
  width:650px;
  font-size: 14pt;
}

.textbox-character{
  height: 20px;
  width: 70px;
  font-weight: bold;
  margin-left:auto;
}

/*.arrow-1{
  float: left;
  display: block;
  margin-left: 200px;
  margin: auto;
}*/

/*.arrow-2{
  display: block;
  margin-right: 200px;
}*/